
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ecf4fb;
    font-family: 'Poppins', sans-serif;
}
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0px;
}
.info{
    position: relative;
}
.img-gallery img{
    width: 293px;
    cursor: pointer;
    height: 100vh;
    transition: 1s ease;
}
.img-gallery img:hover{
    transform: scale(0.9);
    box-shadow: 0 32px 75px rgba(48, 48, 51, 0.2);
}

/* Wrapper*/

.imageWrapper{
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;

   display: none;
    justify-content: center;
    align-items: center;
    z-index: 80;
}
.imageWrapper img{
    width: 90%;
    max-width: 500px;
}

.imageWrapper span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
}

.overlay {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    width: 213px;
    color: white;
    display: flex;
}

.overlay .text {
    padding: 20px;
}

.overlay h2 {
    margin: 0 0 10px;
    font-size: 30px;
    color: #ffff;
    font-weight: 700;
}

.overlay p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    opacity: 70%;
}

/* Mobile Responsiveness */
/* @media (max-width: 768px) {
    .img-gallery {
        width: 95%;
        margin: 50px auto 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .img-gallery img {
        width: 100%;
        height: auto;
    }

    .overlay h2 {
        font-size: 24px;
    }

    .overlay p {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .img-gallery {
        width: 100%;
        margin: 20px auto;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .overlay .text {
        padding: 10px;
    }

    .overlay h2 {
        font-size: 18px;
    }

    .overlay p {
        font-size: 8px;
    }
} */

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .img-gallery {
        grid-template-columns: repeat(4, 1fr); /* 3 columns for medium screens */
    }
}

@media (max-width: 992px) {
    .img-gallery {
        grid-template-columns: repeat(3, 1fr); /* 2 columns for smaller screens */
    }
}

@media (max-width: 768px) {
    .img-gallery {
        grid-template-columns: 2fr; /* 1 column for mobile devices */
    }
}